package {{packageName}}.infrastructure

import io.ktor.http.HttpMethod

object RequestMethod {
    val GET = HttpMethod.Get
    val DELETE = HttpMethod.Delete
    val HEAD = HttpMethod.Head
    val OPTIONS = HttpMethod.Options
    val PATCH = HttpMethod.Patch
    val POST = HttpMethod.Post
    val PUT = HttpMethod.Put
}